
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <title>Patient Dashboard - Pharma</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'user/fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'user/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'user/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'user/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'user/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'user/css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
</head>

<body>

  <div class="site-wrap">


    <div class="site-navbar py-2">
      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="{% url 'home' %}" class="js-logo-clone">Patient</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about_page' %}">About</a></li>
                <li><a href="{% url 'medicine_list' %}">Medicines</a></li>
                <li><a href="{% url 'symptom_checker' %}">Symptom Checker</a></li>
                <li><a href="{% url 'book_appointment' %}">Appointments</a></li> <!-- New Code -->


                {% if request.session.Username %}
                <li>
                  <a href="{% url 'user_logout' %}" class="nav-item nav-link btn btn-primary py-2 px-4">
                    WELCOME {{ request.session.Username }} / Logout
                  </a>
                </li>
                {% else %}
                <li>
                  <a href="{% url 'sign_in' %}" class="btn btn-primary py-2 px-4">Register/Login</a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
          <div class="icons">
            <!-- Notification Icon -->

            <a href="{% url 'cart_page' %}" class="icons-btn d-inline-block bag">
              <span class="icon-shopping-bag"></span>
              <span class="number">{{ x }}</span>
            </a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none">
              <span class="icon-menu"></span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0 active">
            <a href="index.html">Home</a> <span class="mx-2 mb-0">/</span>
            <strong class="text-black">Cart</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <form class="col-md-12" method="post">
            <div class="site-blocks-table">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-thumbnail">Username</th>
                    <th class="product-name">Medicine Name</th>
                    <th class="product-price">Quantity</th>
                    <th class="product-quantity">Price</th>
                    <th class="product-total">Total Price</th>
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>
                <tbody>
                {% for i in cart %}
                  <tr>
                    <td class="product-thumbnail">{{i.Username}}</td>
                    <td>{{i.Medicine_Name}}</td>
                    <td>{{i.Quantity}}</td>
                    <td>{{i.Price}}</td>
                    <td>{{i.Total_Price}}</td>
                    <td><a href="{% url 'remove_from_cart' item_id=i.id %}" class="btn btn-primary height-auto btn-sm">X</a></td>
                  </tr>
                 {% endfor %}
                </tbody>
              </table>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-center border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <span class="text-black">Subtotal</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">Rs.{{sub_total}}</strong>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <span class="text-black">Delivery</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">Rs.{{shipping_amount}}</strong>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Total</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">Rs.{{total_amount}}</strong>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <a href="{% url 'checkout' %}"><button class="btn btn-primary btn-lg btn-block" onclick="window.location='checkout.html'">Proceed To
                      Checkout</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-secondary bg-image" style="background-image: url('images/bg_2.jpg');">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_1.jpg');">
              <div class="banner-1-inner align-self-center">
                <h2>Pharma Products</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ex ad minus rem odio voluptatem.
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_2.jpg');">
              <div class="banner-1-inner ml-auto  align-self-center">
                <h2>Rated by Experts</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ex ad minus rem odio voluptatem.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>



  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

</body>

</html>