
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <title>Patient Dashboard - Pharma</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'user/fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'user/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'user/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'user/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'user/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'user/css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
</head>

<body>

  <div class="site-wrap">


     <div class="site-navbar py-2">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <div class="site-logo">
                            <a href="{% url 'home' %}" class="js-logo-clone">Patient</a>
                        </div>
                    </div>
                    <div class="main-nav d-none d-lg-block">
                        <nav class="site-navigation text-right text-md-center" role="navigation">
                            <ul class="site-menu js-clone-nav d-none d-lg-block">
                                <li class="active"><a href="{% url 'home' %}">Home</a></li>

                                <li><a href="{% url 'medicine_list' %}">Medicines</a></li>
                                <li><a href="{% url 'appointment_history' %}">Appointments</a></li>

                                <li><a href="{% url 'symptom_checker' %}">Symptom Checker</a></li>
                                <li><a href="{% url 'about_page' %}">About</a></li>

                                {% if request.session.Username %}
                                <li><a href="{% url 'user_logout' %}" class="nav-item nav-link btn btn-primary py-2 px-4">WELCOME {{request.session.Username}} /Logout</a></li>
                                {% else %}
                                <li><a href="{% url 'sign_in' %}" class="btn btn-primary py-2 px-4">Register/Login</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <div class="icons">
                        <a href="{% url 'cart_page' %}" class="icons-btn d-inline-block bag">
                            <span class="icon-shopping-bag"></span>
                            <span class="number">{{x}}</span>
                        </a>
                        <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none">
                            <span class="icon-menu"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0">
            <a href="index.html">Home</a> <span class="mx-2 mb-0">/</span>
            <strong class="text-black">Checkout</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section" >
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Billing Details</h2>
            <div class="p-3 p-lg-5 border">
              <form method="post"  name="form1" action="{% url 'save_checkout' %}" onsubmit="validation()">
                {% csrf_token %}
                <div class="form-group row">
                  <div class="col-md-6">
                  <label class="text-black">Your Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="name" name="name">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="email" class="text-black">Email Address </label>
                  <input type="email" class="form-control" id="email" name="email">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="place" class="text-black">Your Place <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="place" name="place">
                </div>
              </div>


              <div class="form-group">
                <label for="address" class="text-black">Address</label>
                <textarea name="address" id="address" cols="30" rows="5" class="form-control"
                  placeholder="Your Address"></textarea>
              </div>
                <div class="form-group row">
                <div class="col-md-12">
                  <label for="mobile" class="text-black">Your Mobile Number <span class="text-danger">*</span></label>
                  <input type="number" class="form-control" id="mobile" name="mobile">
                </div>
              </div>
                <div class="form-group row">
                <div class="col-md-12">
                  <label for="place" class="text-black">Your State <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="state" name="state">
                </div>
              </div>
                <div class="form-group row">
                <div class="col-md-12">
                  <label for="pincode" class="text-black">Pincode <span class="text-danger">*</span></label>
                  <input type="number" class="form-control" id="pincode" name="pincode">
                </div>
              </div>
                <div class="form-group row">
                <div class="col-md-12">
                  <label for="place" class="text-black">Total Price</label>
                  <input type="text" class="form-control" id="total" name="total" value="{{total_amount}}" readonly>
                </div>
              </div>
                <div class="form-group">
                <label for="address" class="text-black">Message</label>
                <textarea name="message" id="message" cols="30" rows="5" class="form-control"
                  placeholder="Leave a message"></textarea>
              </div>
                <button class="btn btn-primary btn-lg btn-block">Place
                      Order</button>
              </form>



          </div>
          </div>
          <div class="col-md-6">

            <div class="row mb-5">
<!--              <div class="col-md-12">-->
<!--                <h2 class="h3 mb-3 text-black">Coupon Code</h2>-->
<!--                <div class="p-3 p-lg-5 border">-->

<!--                  <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>-->
<!--                  <div class="input-group w-75">-->
<!--                    <input type="text" class="form-control" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code"-->
<!--                      aria-describedby="button-addon2">-->
<!--                    <div class="input-group-append">-->
<!--                      <button class="btn btn-primary btn-sm px-4" type="button" id="button-addon2">Apply</button>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                </div>-->
<!--              </div>-->
            </div>


          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>


    <div class="site-section bg-secondary bg-image" style="background-image: url('images/bg_2.jpg');">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_1.jpg');">
              <div class="banner-1-inner align-self-center">
                <h2>Pharma Products</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ex ad minus rem odio voluptatem.
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_2.jpg');">
              <div class="banner-1-inner ml-auto  align-self-center">
                <h2>Rated by Experts</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ex ad minus rem odio voluptatem.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>


    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

            <div class="block-7">
              <h3 class="footer-heading mb-4">About Us</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quae reiciendis distinctio voluptates
                sed dolorum excepturi iure eaque, aut unde.</p>
            </div>

          </div>
          <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">Quick Links</h3>
            <ul class="list-unstyled">
              <li><a href="#">Supplements</a></li>
              <li><a href="#">Vitamins</a></li>
              <li><a href="#">Diet &amp; Nutrition</a></li>
              <li><a href="#">Tea &amp; Coffee</a></li>
            </ul>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                <li class="email">emailaddress@domain.com</li>
              </ul>
            </div>


          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
              with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
                class="text-primary">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>

        </div>
      </div>
    </footer>
  </div>

  <script src="{% static 'user/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'user/js/jquery-ui.js' %}"></script>
  <script src="{% static 'user/js/popper.min.js' %}"></script>
  <script src="{% static 'user/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'user/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'user/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'user/js/aos.js' %}"></script>

  <script src="{% static 'user/js/main.js' %}"></script>

</body>

</html>