<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prescription Details</title>
</head>
<body>
<div class="card">
  <div class="card-header">
    <h3>Prescription Details</h3>
    <div class="card-header-right">
      <ul class="list-unstyled card-option">
        <li><i class="fa fa-wrench open-card-option"></i></li>
        <li><i class="fa fa-window-maximize full-card"></i></li>
        <li><i class="fa fa-minus minimize-card"></i></li>
        <li><i class="fa fa-refresh reload-card"></i></li>
        <li><i class="fa fa-trash close-card"></i></li>
      </ul>
    </div>
  </div>
  <div class="card-block table-border-style">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Patient Name</th>
          <th>Doctor Name</th>
          <th>Diagnosis</th>
          <th>Medicines</th>
          <th>Dosage</th>
          <th>Additional Notes</th>
          <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for i in prescriptions %}
        <tr>
          <td>{{ i.patient_name }}</td>
          <td>{{ i.doctor_name }}</td>
          <td>{{ i.diagnosis }}</td>
          <td>{{ i.medicines }}</td>
          <td>{{ i.dosage }}</td>
          <td>{{ i.notes }}</td>
          <td>
            <a href="{% url 'edit_prescription' p_id=i.id %}">
              <button class="btn btn-outline-primary">Edit</button>
            </a>
            <a href="{% url 'delete_prescription' p_id=i.id %}">
              <button class="btn btn-outline-danger">Delete</button>
            </a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
{% endblock %}