<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="col-sm-12">
    <!-- Basic Form Inputs card start -->
    <div class="card">
      <div class="card-header">
        <h3>Edit Receptionist Details</h3>
      </div>
      <div class="card-block">
      <form method="post" action="{% url 'update_receptionist' re_id=receptionist.id %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="first_name"  value="{{receptionist.First_Name}}" placeholder="Type your First Name">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="last_name" value="{{receptionist.Last_Name}}" placeholder="Type your Last Name">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Age</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="age" value="{{receptionist.Age}}" placeholder="Type your Age">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Gender</label>
        <div class="col-sm-10">
            <select name="gender" class="form-control">
                <option>{{receptionist.Gender}}</option>
                <option>Choose your gender</option>
                <option>Male</option>
                <option>Female</option>
                <option>Others</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Phone Number</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="number" value="{{receptionist.Phone_Number}}" placeholder="Type your Phone Number">
        </div>
    </div>
        <div class="form-group row"><label class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
              <textarea rows="5" cols="5" class="form-control" name="address" placeholder="Address">{{receptionist.Address}}</textarea>
            </div>
          </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email Id</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" name="email" value="{{receptionist.Email_Id}}" placeholder="Enter your Email Id">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="username" value="{{receptionist.Username}}" placeholder="Enter Username">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name="password" value="{{receptionist.Password}}" placeholder="Enter Password">
        </div>
    </div>
        <div class="form-group row">
        <label class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
            <select name="status" class="form-control">
                <option>{{receptionist.Status}}</option>
                <option>Active</option>
                <option>Inactive</option>
            </select>
        </div>
    </div>
        <div class="form-group row">
        <label class="col-sm-2 col-form-label">Joining Date</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" name="joining_date" value="{{receptionist.Joining_Date}}">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Experience</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="experience" value="{{receptionist.Experience}}" placeholder="Enter Experience">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Qualification</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="qualification" value="{{receptionist.Qualification}}" placeholder="Enter Qualification">
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Update</button>
    <button type="button" class="btn btn-light">Cancel</button>
</form>
      </div>
    </div>


  </div>
</body>
</html>
{% endblock %}